@charset "utf-8";
/* CSS Document */


#contenedor{
	
	width:1024px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto; 
} 

#logo {
	background: #F93D81;
	height: 312px; 
	width: 1024px;
	
}

#botones {
	background: #FFFFFF;
	height: 40px;
	text-align: right;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	font-size: 16px;
}

#linea{
	align: right;
}

#columna1 {
	width:500px;
	height:500px;
	border:double 5px #F93E83;
	float:left;
	align-content:center;
	margin:10px;
}
#columna2 {
	width:1800px;
	height:380px;
	align-content:center;
	margin:10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
#dibujo1 {
	margin:auto;
	align-content: center;
	display: table;
}
  
.meter{ 
	clear: both;
	display: flex;
	justify-content: center;

	}
	
	