@charset "UTF-8";
/* CSS Document */

#contenedor{
	
	width:1024px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto; 
} 

#logo {
	background: #F93D81;
	height: 312px; 
	width: 1024px;
	
}

#botones {
	background: #FFFFFF;
	height: 40px;
	text-align: right;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	font-size: 16px;
}

#linea{
	align: right;
}

#columna1 {
	width:290px;
	height:355px;
	
	float:left;
	margin:10px;
}

#columna2 {
	width:290px;
	height:355px;
	float:left;
	margin:10px;
}

#columna3 {
	width:290px;
	height:355px;
	float:left;
	margin:10px;
}
#columna4 { 
	
    width:952px;
	height:382px;
	
	float:left;
	margin:10px;
}
#columna5 { 
	
    width:952px;
	height:382px;
	border:double 5px #ffffff;
	float:left;
	margin:10px;
}
#columna6 { 
	
    width:460px;
	height:280px;
	border:double 5px #ffffff;
	float:left;
	margin:10px;
}
#columna7 { 
	
    width:460px;
	height:280px;
	border:double 5px #ffffff;
	float:left;
	margin:10px;
}
#columna8 { 
	
    width:460px;
	height:280px;
	border:double 5px #ffffff;
	float:left;
	margin:10px;
}
#columna9 {
    width: 460px;
    height: 280px;
    border: double 5px #ffffff;
    float: left;
    margin: 10px;
    text-align: right;
}
#columna10 { 
	background:#F93E83;
    width:135px;
	height:135px;
	border:double 5px #F93E83 ;
	float:left;
	margin:10px;
}
#columna11 { 
	background:#FFFFFF;
    width:1024px;
	height:80px;
	float:left;
	margin:10px;
}

#columna12 { 
	background:#F93E83;
    width:135px;
	height:135px;
	border:double 5px #F93E83 ;
	float:left;
	margin:10px;
}
#columna13 { 
	background:#F93E83;
    width:135px;
	height:135px;
	border:double 5px #F93E83 ;
	float:left;
	margin:10px;
}
#columna14 { 
	background:#F93E83;
    width:135px;
	height:135px;
	border:double 5px #F93E83 ;
	float:left;
	margin:10px;
}
#pie {
	
}
.meter{ 
	clear: both;
	display: flex;
	justify-content: center;

}
